.Blue {
    background: $off-white;
    header {
        background: $light-blue;
        #topmenu{
            background: $light-blue;
        }
        #menu{
            background: $dark-blue;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
    footer{
        #footer-menu{
            background: $dark-blue;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
}