.Dark {
    background: $off-black;
    header {
        #topmenu{
            background: $off-black;
        }
        #menu{
            background: $dark-grey;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
    #main-container{
        background: $off-black;
        color: #fff;
        .ui.header, h1, h2, h3, h4, h5{
            color: $light-grey;
        }
    }
    footer{
        #footer-menu{
            background: $dark-grey;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
    .ui.checkbox label,.ui.form .field>label, .ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label, .ui.checkbox input:focus~.box:after, .ui.checkbox input:focus~label, .ui.checkbox input:focus~label:after{
        color: $off-white !important;
    }
    #CoolModal {
        .ui.form .field>label, .ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label, .ui.checkbox input:focus~.box:after, .ui.checkbox input:focus~label, .ui.checkbox input:focus~label:after{
            color: $off-black !important;
        }
    }
}