.Grey {
    background: $off-white;
    header {
        background: $light-grey;
        #topmenu{
            background: $light-grey;
        }
        #menu{
            background: $med-grey;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
    #main-container{
        background: $off-white;
        color: $off-black;
        .ui.header, h1, h2, h3, h4, h5{
            color: $off-black;
        }
    }
    footer{
        #footer-menu{
            background: $med-grey;
            &.ui.menu .item{
                color: $off-white;
            }
        }
    }
}