header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    &.dark{
        background: $off-black;
    }
    
    #topmenu{
        display: block;
        margin: 0 auto;
        border: none;
        box-shadow: none;
        background: #fff;
        *{
            transition: 0.5s;
        }
        .item{
            float: left;
            &:before{
                width: 0;
            }
        }
    }

    #menu {
        margin-top: 0;
        *{
            transition: transform 0.5s;
        }
        .ui.text.container{
            max-width: unset !important;
        }
        .header.item:first-child{
            border-left: none;
        }
    }    
  
    #menu-button .item:before{
        width:0;
    }
    
    .ui.menu .header.item:before{
        width: 0;
    }
}

@media screen and (min-width: 320px){
    #menu{
        display: none;
        overflow: hidden;
        height: 0;
        transition: .5s;
    }
    #menu.show{
        height: auto;
        display: block;
    }
  
    #main-container {
      margin: 160px 0 100px 0;
    }
}

@media screen and (min-width: 768px){
    #menu-button{
        display: none;
    } 
    #menu{
        display: block;
        height: auto;
    }    
    
    #main-container {
        margin-top: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px){
    .ui.menu .header.item, .ui.vertical.menu .header.item{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .ui.menu .header.item, .ui.vertical.menu .header.item{
        font-size: 1rem;
    }
    #menu{
        .ui.text.container{
            width: 100%;
        }        
    }
}
