$font-size-base: 1.6rem;
$font-family-base: Helvetica, Arial, sans-serif;
$bodyBg: #fff;
$menu-bg: #fff;
$header-bg: #fff;
$progressBar: #54d1db;
$off-black: #20222b;
$off-white: #f2f2f2;
$dark-grey: #434654;
$med-grey: #606060;
$light-grey: #999;
$dark-blue: #6391ff;
$light-blue: #b8cdff;