@import './themevariables';
@import './nprogress';
@import './header';
@import './footer';
  
body {
    background: $bodyBg;
    font-family: $font-family-base;
    font-size: 16px;
    p{
      line-height: 22px;
    }
}

#resume{
  table td{
    padding-right: 15px;
    padding-bottom: 15px;
    vertical-align: baseline;
  }
}

.embed-video{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  .videoWrapper{
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.5%;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.mySlides{
    width: 33%;
    min-width: 320px;
    float: left;
    padding: 10px;
    img{
      border-radius: 10px;
      padding: 0;
    }
}
  
/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
    margin: 0;
    padding: 0.5em 1em 0.75em !important;
}
  
  #main-container {
    min-height:500px;
  }
  
  #CoolModal.ui.modal{
    top: 10%;
  }
  
  #overlay{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: #000;
    z-index: 3;
    opacity: 0.8;
    display: none;
    transition: 0.2s;
  }
  
  #overlay.show{
    display:block;
  }
  
  @media screen and (min-width: 1200px){
    .ui.text.container{
      max-width: 1200px !important;
    }
  }
  
  @media print{
    #menu, footer, #printButton, button{
      display: none !important;
    }
    #main-container{
      margin-top: 0;
    }
    body, p, table, td{
      color: #000;
    }
  }

  @import './darktheme';
  @import './greytheme';
  @import './bluetheme';